APP_NAME=AwesomeKorean
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://awesomekorean.com
APP_TIMEZONE=America/New_York
APP_LOCALE=ko
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=awesomekorean
DB_USERNAME=awesomekorean_user
DB_PASSWORD=
BROADCAST_CONNECTION=reverb
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
CACHE_STORE=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
JWT_SECRET=
REVERB_APP_ID=awesomekorean_app
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=awesomekorean.com
REVERB_PORT=443
REVERB_SCHEME=https
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
